<form>
  <label>Name
  <input data-type='name' value='{{name}}'/>
  </label>
  <label>Season
  <input data-type='season' value='{{season}}'/>
  </label>
  <label>Style
  <input data-type='style' value='{{style}}'/>
  </label>
  <label>Yeast
  <input data-type='yeast' value='{{yeast}}'/>
  </label>
  <label>IBU
  <input data-type='ibu' value='{{ibu}}'/>
  </label>
  <label>EBC
  <input data-type='ebc' value='{{ebc}}'/>
  </label>
  <label>Aged
  <input data-type='aged' value='{{aged}}'/>
  </label>
  <label>Beer Description
  <textarea data-type='description'>{{description}}</textarea>
  </label>
  <button class='save'>Save</button>
  <button class='delete'>Delete</button>
</form>